/* Removing margin/padding */
*{margin: 0;padding: 0;}

/* Reset focus styles */
:focus {outline: 0;}

/* Reset text decoration */
ins {text-decoration: none;}

/* Setting up the fonts, height, width and background */
body, html, head {background-color:#1c1c1c; height:100%; width: 100%; text-align: justify; font-family: Arial,Verdana,Tahoma,Helvetica, sans-serif; font-size: 12px; line-height:17px; color:#3f3f3f;}

/* Removing border on linked images */
a img, img {border:0;}

/* Style for links */
a {outline:none; color:#ec7e25; text-decoration:none;}
a:hover {text-decoration:none;}
a.copyright0{color:#e6e4d8;}
a.copyright{color:#e6e4d8; margin-right:73%;}
.vk {
    position: absolute; /* Абсолютное позиционирование */
    right:12%;
    margin-top: 5.5px;
}

.vk img{
    transform: scale(1.3);
}
   
.vk2 {
    position: absolute; /* Абсолютное позиционирование */
    right:15%;
    margin-top: 5.4px;
}

.vk2 img{
    transform: scale(1.15);
}

.social_instagram {
    position: absolute; /* Абсолютное позиционирование */
    right: 17.8%;
    margin-top: 4px;
}

.social_instagram img{
    transform: scale(1.3);
}

.social_ok {
    position: absolute; /* Абсолютное позиционирование */
    right: 21%;
    margin-top: 6.4px;
}

.social_ok img{
    transform: scale(1.2);
}

/*Tables*/
table {border-collapse:collapse; margin:0;padding:0;}

/* Style for headers */
h1 {font:bold 12px/17px Arial; color:#3e3e3e; text-transform:uppercase; padding-bottom:7px;}
h1.none {text-transform:none;}
h1.titleCoffee,
h1.titleTea {line-height:45px; padding-bottom:15px; padding-right:84px; background-repeat:no-repeat; background-position:right 5px; float:left;}
h1.titleCoffee {color:#4e2f20; background-image:url('/i/coffee.png');}
h1.titleTea {color:#99ad15; padding-right:62px; background-image:url('/i/tea.png');}
h1 a {color:#3e3e3e;}
h2 {font:bold 12px/14px Arial; color:#3f3f3f; background:url('/i/arrow.gif') no-repeat left 3px; padding-left:11px;}
h2 a {text-decoration:underline; color:#3f3f3f;}
h2 a:hover {text-decoration:none;}
h3 {font:bold 12px/17px Arial; color:#4e2f20; text-transform:uppercase; padding-bottom:17px;}
#content p {padding-bottom:15px;}

.red{color:#F00;}

/* Class for left/right floats */
.floatLeft {float:left;}
.floatRight {float:right;}

/* Class for display block */
.block {display:block;}

/* Class for clearing floats */
.clear {clear:both;}

.w45 {width:45%;}
.w47 {width:47%;}
.w55 {width:55%;}
#content .pb0px {padding-bottom:0;}
#content .mr13px {margin-right:13px;}
#content .pl15px {padding-left:15px;}
#content .mb40px {margin-bottom:40px;}
#content .tac {text-align:center;}
#content .fs14 {font-size:14px;}
#content .colorOrange {color:#f58220;}
#content .bold {font-weight:bold;}

#content ul li {background: url('/i/disc.gif') no-repeat left 7px; list-style:none; padding-left:15px;}
#content ul {padding-bottom:15px;}

/* Reset collapse/spacing for tables */
table {border-collapse:collapse;}

/* Preparing table columns */
table td {padding:0; margin:0; text-align: left;}


/* End General
--------------------------------------------------------------------------------------------------------*/


/* START HEADER
--------------------------------------------------------------------------------------------------------*/
#header {position:absolute; top:0; left:0; width:100%; }
#header .wrap {width:998px; margin-left:auto; margin-right:auto; position:relative; top:0; left:0; background:#f78621 url('/i/bgHeader.jpg') no-repeat top center;}

/* Logo */

#header .logo {float:left; margin-top:13px; margin-left:17px; margin-bottom:33px; overflow:hidden; width:187px; height:63px;  background: url('/i/logo.png') no-repeat top left;} /* general */

/*#header .logo {float:left; margin-top:13px; margin-left:3px; margin-bottom:33px; overflow:hidden; width:202px; height:69px;  background: url('/i/logo.png') no-repeat top left;}  новый год */

#header .logo a {width:100%;height:100%;float:left;text-indent:-2000px;}

/* Main Menu */
#header .enter, 
	#header .menu {float:right; font:16px/16px Arial; color:#e6e4d8; margin-top:10px; margin-left:30px; }
#header .enter a, 
	#header .menu a {color:#c4c0a7; font:12px/14px Arial; text-decoration:none; margin-right:5px; padding:0 5px;}
#header .enter a:hover, 
	#header .menu a:hover {color:#fff;}
#header .enter a.sel, 
	#header .menu a.sel {font-weight:bold; color:#fff;}
#header .enter {float:right;}
#header .enter a, 
	#header .enter a.sel {padding-right:13px; padding-left:13px; color:#e6e4d8}
	
#header .menu .popup {position:relative; cursor:default; color:#c4c0a7; font:12px/14px Arial; text-decoration:none; margin-right:5px; padding:0 15px; background: url('/i/popupArrow.gif') no-repeat right center;} 
#header .menu .popup.sel {font-weight:bold; color:#fff;}
#header .menu .popup span {position:absolute; left:0; top:10px; display:none; width:auto; padding:3px 0 5px; z-index:2;}
#header .menu .popup.hovered {color:#fff;}
#header .menu .popup.hovered span {display:block;}
#header .menu .popup.hovered a {display:block; line-height:17px; white-space:nowrap;}

#header .telephon {position:absolute; top:0; right:0; color:#e6e4d8; font:12px/15px Arial; margin-top:57px; margin-right:20px; vertical-align:middle; z-index: 1;}
#header .telephon a {margin-right:500px;}
#header .telephon img{margin-right:5px;}
#header .skype {position:absolute; top:0; right:0; color:#e6e4d8; font:12px/15px Arial; margin-top:76px; margin-right:20px; vertical-align:middle; z-index: 2;}
#header .skype a {margin-right:532px;}
#header .skype img{margin-right:2px;}
#header .userInfo {color:#c4c0a7; padding-left:430px; font:12px/15px Arial bold; margin-top:14px;}
#header .userInfo .orange{color:#f58220;}

#header .headerInfo {position:absolute; top:0; right:0; color:#e6e4d8; font:12px/15px Arial; margin-top:75px; margin-right:20px; vertical-align:middle; z-index:3;}
#header .headerInfo span{color:#f58220;}
#header .headerInfo a {float:left;  width:17px; height:18px; background: url('/i/basket.png') no-repeat left; margin-right:8px;}
.search {border:1px solid #f58220; width:180px; height:18px; margin-left:10px; margin-right:5px;}
.search_button{ width:auto; border:none; vertical-align:middle;}
.search_item {font:12px/14px Arial; color:#3f3f3f; background:url('/i/leftMenu.png') no-repeat left 3px; padding-left:28px; padding-bottom:10px; text-decoration:underline; line-height:22px; display:inline-block;}

/*--------------------------------------------------------------------------------------------------------
END HEADER*/


/* START FOOTER
--------------------------------------------------------------------------------------------------------*/
#banner {position:relative; bottom:0px; float:left; margin-top:-567px; margin-left:15px; margin-right:auto;}
#banner .hr{border-top:1px solid #aaa299; margin-bottom:10px;}
#banner .shr{border-top:0px; margin-bottom:10px;}
#bannerHome {display : block; width : 170px; text-align:center; background-color:#fbdcae; padding:5px; border: 1px solid #4d371a;}
#bannerHome1 {display : block; width : 170px; text-align:center; background-color:#fbdcae; padding:5px; margin-top:5px; border: 1px solid #4d371a;}

#footer {background:#50403b; border-top:1px solid #aaa299; height:36px; margin-top:-33px; margin-left:auto; margin-right:auto;  position:relative; font:12px/32px Arial; color:#f7e7c3; text-indent:20px; width:998px;}
#footer .center {width:998px; margin-left:auto; margin-right:auto;}
/* --------------------------------------------------------------------------------------------------------
END FOOTER*/


/* START CONTENT
--------------------------------------------------------------------------------------------------------*/
#content {text-align:left; height:auto; min-height:100%; width:998px; margin-left:auto; margin-right:auto; background-color:#e6e4d8;}
#content .center {padding:109px 0 62px; min-height:100%;}

#content .menuPics {}
#content .menuPics a {float:left;}
#content .menuPics .coffee, 
#content .menuPics .tea, 
#content .menuPics .dishes, 
#content .menuPics .gifts, 
#content .menuPics .sweets {background-position:top left; background-repeat:no-repeat; height:168px; text-indent:-2000px;}

#content .menuPics a.coffee {position:relative; 
    margin:0 auto; 
    width:200px;
    display: block;}
#content .menuPics a.coffee img{
left: 0; 
    position:absolute; 
    top: 0; 
	 -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  }  
#content .menuPics a.coffee img.raz {opacity:0;filter:alpha(opacity=0);}
#content .menuPics a.coffee:hover img.raz {opacity:1;filter:alpha(opacity=100);}
#content .menuPics a.coffee:hover img.dva, #content .menuPics a.coffee img.dva:hover {opacity:0;filter:alpha(opacity=0);}

#content .menuPics a.tea {position:relative; 
    margin:0 auto; 
    width:199px;
    display: block;}
#content .menuPics a.tea img{
left: 0; 
    position:absolute; 
    top: 0; 
	 -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  }  
#content .menuPics a.tea img.raz1 {opacity:0;filter:alpha(opacity=0);}
#content .menuPics a.tea:hover img.raz1 {opacity:1;filter:alpha(opacity=100);}
#content .menuPics a.tea:hover img.dva1, #content .menuPics a.tea img.dva1:hover {opacity:0;filter:alpha(opacity=0);}

#content .menuPics a.dishes {position:relative; 
    margin:0 auto; 
    width:199px;
    display: block;}
#content .menuPics a.dishes img{
left: 0; 
    position:absolute; 
    top: 0; 
	 -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  }  
#content .menuPics a.dishes img.raz2 {opacity:0;filter:alpha(opacity=0);}
#content .menuPics a.dishes:hover img.raz2 {opacity:1;filter:alpha(opacity=100);}
#content .menuPics a.dishes:hover img.dva2, #content .menuPics a.dishes img.dva2:hover {opacity:0;filter:alpha(opacity=0);}

#content .menuPics a.gifts {position:relative; 
    margin:0 auto; 
    width:199px;
    display: block;}
#content .menuPics a.gifts img{
left: 0; 
    position:absolute; 
    top: 0; 
	 -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  }  
#content .menuPics a.gifts img.raz3 {opacity:0;filter:alpha(opacity=0);}
#content .menuPics a.gifts:hover img.raz3 {opacity:1;filter:alpha(opacity=100);}
#content .menuPics a.gifts:hover img.dva3, #content .menuPics a.gifts img.dva3:hover {opacity:0;filter:alpha(opacity=0);}

#content .menuPics a.sweets {position:relative; 
    margin:0 auto; 
    width:201px;
    display: block;}
#content .menuPics a.sweets img{
left: 0; 
    position:absolute; 
    top: 0; 
	 -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  }  
#content .menuPics a.sweets img.raz4 {opacity:0;filter:alpha(opacity=0);}
#content .menuPics a.sweets:hover img.raz4 {opacity:1;filter:alpha(opacity=100);}
#content .menuPics a.sweets:hover img.dva4, #content .menuPics a.sweets img.dva4:hover {opacity:0;filter:alpha(opacity=0);}

#content .menuPics .coffee {background-image: url('/i/coffee.jpg'); width:200px;}
#content .menuPics .tea {background-image: url('/i/tea.jpg'); width:199px;}
#content .menuPics .dishes {background-image: url('/i/dishes.jpg'); width:199px;}
#content .menuPics .gifts {background-image: url('/i/gifts.jpg'); width:199px;}
#content .menuPics .sweets {background-image: url('/i/sweets.jpg'); width:201px;}

#content .content {padding:16px 16px 0; min-height:100%;}

#content .twoColumn {background: url('/i/leftMenubg.gif') repeat-y top left; min-height:100%; }
#content .leftMenu {width:166px; padding-right:20px; padding-bottom:560px; float:left; min-height:100%;}
#content .leftMenu .level1 {background: url('/i/leftMenu.png') no-repeat top left; padding-left:28px; padding-bottom:17px; font:bold 12px/17px Arial; color:#3e3e3e; text-decoration:none; display:block; text-transform:uppercase;}
#content .leftMenu .level2 {margin-top:-10px;}
#content .leftMenu .level2 a {padding-left:28px; padding-bottom:12px; font:12px/17px Arial; color:#3f3f3f; text-decoration:none; display:block; overflow:hidden;}
#content .leftMenu .level2 a:hover {text-decoration:underline;}
#content .leftMenu .level2 a.sel {font-weight:bold; text-decoration:none}
#content .leftMenu .treeview a {padding-left:28px; padding-bottom:12px; font:12px/17px Arial; color:#3f3f3f; text-decoration:none; display:block; }
#content .leftMenu .admin {background: none; padding-left:5px;}

#content .rightColumn {float:right; width:752px; padding-left:28px; padding-bottom:15px;}
#content .rightColumn .introduction{border-bottom:1px solid #F58220;}
#content .rightColumn.only {float:none; width:auto; padding-left:0;}
#content .rightColumn .tableHead {background-color:#ec7e25;}
#content .rightColumn .adminTable {width:90%;}
#content .rightColumn .adminTable td{padding:5px;}
#content .rightColumn .time {padding-bottom:0; font: italic 10px/12px Arial;}
#content .rightColumn p {padding:0 0 15px 11px; text-align:justify;}
#content .rightColumn p.pl0px {padding-left:0;}
#content .rightColumn p.pl0px .more {padding-bottom:10px;}
#content .more {font:bold 11px/14px Arial; color:#f58220; float:right; margin-left:70%; clear:both; text-align:right; margin-bottom:15px; text-decoration:underline; }
#content .more:hover {text-decoration:none; }

#content .orderBlock {width:100%; display:block; float:left; background:#fff;  margin-bottom:35px; position:relative; color:#2f2514;}
#content .orderBlock .orderImg {border:1px solid #c7c5bb;float:left; margin-right:10px; position:relative;}
#content .orderBlock .orderImg img {float:left; background: url('/i/noImage.png') no-repeat left top; min-height:123px;}
#content .orderBlock .orderImg span{float:right; position:absolute; right:-37px; bottom:-11px; width:71px; height:72px; background: url('/i/new.png') no-repeat bottom right;}
#content .orderBlock .title {font:bold 14px/17px Arial; color:#fefced; background:#ef7f1b; padding:10px 11px; white-space:nowrap; overflow:hidden;}
#content .orderBlock .title a {color:#fefced; text-transform:none;}
#content .orderBlock .topLeft,
#content .orderBlock .topRight,
#content .orderBlock .bottomLeft,
#content .orderBlock .bottomRight {position:absolute; width:11px; height:11px; background-repeat:no-repeat; background-position:top left;}
#content .orderBlock .topLeft {background-image:url('/i/orderBlockTopLeft.gif'); top:0; left:0; }
#content .orderBlock .topRight {background-image:url('/i/orderBlockTopRight.gif'); top:0; right:0;}
#content .orderBlock .bottomLeft {background-image:url('/i/orderBlockBottomLeft.gif'); bottom:0; left:0;}
#content .orderBlock .bottomRight {background-image:url('/i/orderBlockBottomRight.gif'); bottom:0; right:0;}
#content .orderContent {padding:11px}
#content .orderContent .orderText .price, 
#content .orderContent .price {color:#f58220; font:bold 14px/31px Arial; padding:0; width:100%; overflow:hidden; }
#content .orderContent .price_param{color:black; font:bold 14px/31px Arial; padding:0; width:100%; overflow:hidden; }
#content .orderContent .orderText .price {padding-left:11px;}
#content .orderContent .price .colorGrey {color:#a9a9a9;}
#content .rightColumn p.price .colorGrey {display: block;}
#content .orderInp {width:55px;height:19px;border:1px solid #555555; color:#333333; line-height:19px;}
#content .orderSubm,
#content .contactSubm,
#content .contactSubm2 {width:95px; height:31px; border:0; color:#4e2f20; font:bold 11px/31px Arial; background: url('/i/orderSubm.png') no-repeat top left; cursor:pointer; text-align: center;}
#content .orderContent tr td {padding:0px 5px 10px 0; vertical-align: top;}
#content .orderContent .orderText p{padding-bottom:2px; color:#2f2514;}
#content .orderContent .info {line-height:31px; color:#2f2514;}
#content .orderContent label{margin-right:10px;}
#content .orderContent label_price{margin-right:10px; margin-left:30px; color:black; font:bold 14px/31px Arial;}
#content .orderBlock.orderType {width:475px; height:222px;}
#content .orderBlock.orderType.login {float:right;}
#content .orderBlock.orderType .inputs label {float:left; width:55px; padding-left:75px; margin:0;}
#content .orderBlock.orderType .inputs input {width:247px;}
#content .orderBlock.orderType .buttons {text-align:center;}
#content .orderBlock.orderType .buttons a {color:#4e2f20; text-decoration:underline; padding-left:20px;}

#content .contactForm {float:left; width:383px;}
#content .contactForm.order {float:none; width:auto;}
#content .contactForm.order table {margin:0 auto; width:674px;}
#content .contactForm tr td {padding:0 13px 10px 0; vertical-align: top;}
#content .contactForm tr td.w60px {width:60px;}
#content .contactSubm {width:184px; font-size: 12px; background-image: url('/i/contactSubm.png');}
#content .contactSubm2 {width:145px; font-size: 12px; background-image: url('/i/contactSubm2.png');}
#content .contactInp {border:1px solid #959177; width:247px; height:21px;}
#content .contactTextarea {border:1px solid #959177; width:257px; height:103px;}
#content .contactRightBlock {float:left; width:310px; height:63px; margin:70px 0 0 160px; padding:20px; background: url('/i/contactRightBlock.png') no-repeat top left; font-size:14px;}
#content .contactRightBlock p{padding-bottom:10px;}
#content .contactInp.wide, #content .contactTextarea.wide {width:582px;}

#content .sublevel {padding:20px;}
#content .sublevel a {display:block; color:#000;text-decoration:underline; padding-bottom:5px;}

#content .infoPanel {position:relative; float:left; height:100px; width:231px; color:#C4C0A7; font-size:11px;margin-left:14px;}
#content .first {margin-left:0;}
#content .infoPanel .whiteText{font-size:12px; color:#FFF}
#content .infoPanel .infoLeft, #content .infoPanel .infoMid, #content .infoPanel .infoRight {float:left; height:100%}
#content .infoPanel .infoMid {width:211px; background: url('/i/infoDivBg.gif') repeat-x top left; text-align:center;}
#content .infoPanel .infoLeft {width:9px; background: url('/i/infoDivL.gif') no-repeat top left;}
#content .infoPanel .infoRight {width:11px; background: url('/i/infoDivR.gif') no-repeat top left;}
#content table.txtMiddle {height:100%; width:100%;}
#content table.txtMiddle tr td {text-align:center; vertical-align:middle; padding-bottom:6px;}

#content .shopsList {width:316px;}
#content .shopsList .shopImage {position:relative; width:312px; height:100px; padding:2px; background-color:#fff; cursor:pointer;}
#content .shopsList .shopImageMarker {float:right; width:79px; height:25px; padding-top:75px; text-align:center; color:#ec7e25; text-decoration:underline; background: url('/i/shopImageMarker.png') no-repeat center center;}
#content .shopsList .shopImageFrame {position:absolute; top:0; left:0; width:316px; height:104px; background: url('/i/shopImageFrame.png') no-repeat top left;}
#content #map_canvas {float:right; width:630px; height:412px; border:1px solid #ec7f26;}

#content .lineThrough {text-decoration: line-through;}
#content .asterix {color:#ec7e25;}


#content .orderForm table {width:100%;}
#content .orderForm table .tableHead th {background-color:#ec7e25; border:1px solid #ec7e25; border-bottom:none; color:#fefced; font:bold 14px Arial;}
#content .orderForm table th, #content .orderForm td {padding:10px; border:1px solid #c7c5bb; background-color:#fff; text-align:left;}
#content .orderForm table .w100 {width:100px;}
#content .orderForm table .remove {width:35px;}
#content .orderForm table a {display:block; width:100%; height:100%; background:url('/i/remove.png') no-repeat center center;}
#content .orderForm table input {width:70px;}
#content .orderForm .totalLine {height:60px; line-height:31px; margin-bottom:15px; padding:10px; background-color:#f5f4e9;}
#content .orderForm .totalLine p {float:right; padding:0; font-weight:bold; color:#3e3e3e;}
#content .orderForm .totalLine p span {color:#ec7e25;}
#content .orderForm .totalLine .orderTotal {float:right; padding:0; font-weight:bold; color:#3e3e3e; border:none; width:auto; background-color:#f5f4e9}
#content .orderForm .totalLine .orderTotal td {padding:0px 5px; background-color:#f5f4e9; border:none; text-align:right; line-height:20px;}
#content .orderForm .totalLine table span {color:#ec7e25;}

#content .loginForm {width:430px; background-color:#f9f8f1; border-bottom:3px solid #ec7e25; padding:20px;}
#content .loginForm table input {width:230px; border:1px solid #959177;}
#content .loginForm .button{width:auto; border:none;}
#content .loginForm table td{padding:5px;}
#content .loginForm a{color:#4e2f20; text-decoration:underline; padding-left:20px;}
#content .loginForm #pwd, 
#content .loginForm #cnf{display:none;}

/*--------------------------------------------------------------------------------------------------------
END CONTENT*/

#popup {position:absolute; top:0; left:0; display:none; width:260px; padding:20px; border:1px solid #c7c5bb; background-color:#f5f4e9; text-align:center; z-index:100;}
#popup[id] {position:fixed;}
#popup a {font-weight:bold; cursor:pointer;}

#toTop {
position : fixed;
bottom : 40px;
right : 10px;
cursor : pointer;
}

em {font: bold 11px/13px Arial;}

.time_ud{
margin-left: 80px;
}
.dostavka1{
text-align: center;
}
.dostavka1 span.dost1{
color: #ec7e25;
}

/* промокод */
a.promo_button {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #FDBE33 #000 #D77206;
  border-radius: 6px;
  background: linear-gradient(#F3AE0F, #E38916) #E38916;
  transition: 0.2s;
} 
a.promo_button:hover { background: linear-gradient(#f5ae00, #f59500) #f5ae00; }
a.promo_button:active { background: linear-gradient(#f59500, #f5ae00) #f59500; }
/* промокод end */

.price_new_d{
color: red;
}

#label_red_news{
  display: block;
  position: relative;
  margin-bottom: 10px;
  padding: 3px;
  border: solid 1px red;
  text-align: justify;
  word-wrap: break-word;
  font: bold 12px/17px Arial;
  color: #3e3e3e;
}

#content .rightColumn #label_red_news p {
    padding: 3px;
}