RewriteEngine On

#ExpiresActive On

#ExpiresDefault M1

# ?????????? ??????????? ? ???? ?????
# ?????????? ????????? ???????
# mod_headers.c ? mod_expires.c
#
# ????????? Cache-Control
<IfModule mod_headers.c>
Header append Cache-Control "no-store, no-cache, must-revalidate"
</IfModule>

# ????????? Expires
<IfModule mod_expires.c>
ExpiresActive On
ExpiresDefault "now"
</IfModule>

