
RewriteEngine On

# if forbidden content is requested, OR if requested file is not found, then redirect to index.php
RewriteCond %{REQUEST_FILENAME} !-s	[OR]
RewriteCond %{REQUEST_URI} ^\/lib\/
RewriteRule !(robots.txt|\.gif$|\.png$|\.jpg$|\.js$|\.css$|\.swf$|\.flv$|\.avi$|\.ico$|admin$) index.php

IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*

<Limit GET POST>
order deny,allow
deny from all
allow from all
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>

